.categoryName{
    color: #ffffffc9;
    text-decoration: underline;
    text-decoration-color: #1E1E1E;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px; /* Adjust the value as needed */
  }
